#this is the begiinnning of this file
#
##
#
##


# band-1  , 160.50
 band-1     , 162.550
band-2 ,   80
band-3 ,   40
#
# example of quoted string, rturned unpacked
band-4 ,   "this is 20 meters 17mHz   "
#
# example of non quoted string, returned with whitespace removed
band-5 ,   17 meters
band-6 ,   10
band-7 ,    6


#endof file12345
